@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Grandiflora+One&family=Lato&family=Noto+Serif&family=Nunito:wght@200&family=Open+Sans:wght@300&family=PT+Sans+Narrow&family=Poppins:wght@100;200;300;400;600&family=Rajdhani:wght@300&family=Roboto:wght@300;400&family=Tsukimi+Rounded:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

:root {
    --accent-color: #EAF2f5;
    --primary-text-color: #141414;
    --secondary-text-color: #007676;
    --light-text-color: #fff;
    --primary-color: #fff;
    --secondary-color: #007676;
    --alpha-secondary-color: rgba(0, 118, 118, 0.2);
    --discount-color: #e71a1c;
    --card-hover-bg-color: #f9f9f9;
    --border-color: #f9f9f9;
    --box-shadow-color: var(--accent-color);
    --shadow: rgba(0, 0, 0, 0.05);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --discount-banner-background-overlay: linear-gradient(rgba(0, 118, 118, 0.8), rgba(0, 118, 118, 0.7));
    --phone-app-shadow: #c7e1e8;
    --alpha-primary-color: rgba(255, 255, 255, 0.5);
    --rating-color: #ffa800;

    /* transition curves */
    --transition-curve: cubic-bezier(0.36, -0.21, 0.16, 1.97);


}

html {
    font-size: 16px;
    overflow-x: hidden;

}

body {
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
    background: var(--primary-color);

}

/* navbar */

.navbar {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    padding: 0 10vw;
    z-index: 9;
    background-color: var(--accent-color);

}

.logo {
    height: 1.5rem;
}

.links-container {
    display: flex;
    gap: 1rem;

}

.link-items {
    margin-left: 40px;
    text-transform: capitalize;
    /* color:var(--primary-text-color); */
}

.links {
    color: var(--primary-text-color);
    font-weight: 700;
}

.nav-extras {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;

}

.search {
    position: relative;
    width: 20vw;
    min-width: 150px;
    height: 2.5rem;
    border-radius: .5rem;
    overflow: hidden;

}

.search-box {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    ;

}

.search-btn {
    position: absolute;
    border: none;
    right: 0;
    width: 3rem;
    height: 100%;
    align-items: center;
    background-color: var(--primary-color);
    text-align: center;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.cart {
    width: 2.5rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    color: #007676;
    justify-content: center;
    transition: .5s;
}

.cart:hover,
.locate-btn:hover {
    background-color: var(--alpha-secondary-color);
}

/* hero-section */

#hero-section {
    min-height: 100vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--accent-color);

}

.hero-content {
    width: 40%;

}

.hero-heading {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
    color: var(--secondary-text-color);
}

.hero-line {
    line-height: 2rem;
    opacity: 0.75;
    margin-top: 2rem;

}

.search.location {
    width: 100%;
    height: 3.5rem;
    border-radius: .2rem;
    margin: 2.5rem 0;

}

.locate-btn {
    font-size: 1.2rem;
    width: 4rem;
    transition: .5s;
}

.search.location .search-box {
    padding: 1rem 1.5rem;
}

.hero-action-btn-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn {
    padding: 1rem;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    color: white;
    border-radius: 4%;
    cursor: pointer;

}

.btn.transparent {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.hero-action-btn-container .or {
    color: var(--secondary-text-color);
}


.hero-img-container,
.food-image-container {
    min-width: 30rem;
    min-height: 30rem;
    position: relative;
    transform: scale(0.8) translateY(2rem);

}

.background-ele {
    width: 100%;
    height: 100%;
    position: absolute;

}

.ellipse {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    border: .01rem solid var(--secondary-color);
    transform-origin: center;
}

.ellipse:nth-child(1) {
    width: 80%;
    transform: translate(-50%, -50%) rotate(20deg);
}

.ellipse:nth-child(2) {
    width: 90%;
    transform: translate(-50%, -50%) rotate(40deg);
}

.ellipse:nth-child(3) {
    width: 90%;
    transform: translate(-50%, -50%) rotate(-20deg);
}

.forground-elements {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-img {
    position: absolute;
    width: 10rem;
    border-radius: 100%;
    box-shadow: 0 1rem 1rem var(--shadow);

}

.hero-img:nth-child(1) {
    width: 20rem;
    left: 8%;
    top: -15%;

}

.hero-img:nth-child(2) {
    width: 16rem;
    left: 70%;
    top: 20%;

}

.hero-img:nth-child(3) {
    width: 10rem;
    left: 60%;
    top: 80%;

}

.review-box {
    position: absolute;
    width: 30rem;
    padding: 1rem 2rem;
    bottom: 5%;
    left: -25%;
    border-radius: .5rem;
    background-color: var(--alpha-primary-color);
    backdrop-filter: blur(.5rem);

}

.reviewer-info {
    display: flex;
    gap: 1rem;
}

.reviewer-img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.reviewer-rating {
    display: flex;
    gap: 1rem;
    font-size: .7rem;
    align-items: center;

}

.reviewer-rating {
    color: var(--rating-color);
}

.reviewer-name {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: .75rem;
}

.review-body {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
    padding: 1rem 0;
}

.review-body i {
    font-size: 1.4rem;
    color: var(--secondary-text-color);

}

.review {
    line-height: 1.75rem;
    ;
}


/* / */

.section {
    width: 100%;
    padding: 2rem 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-detail {
    width: 45%;
    min-width: 300px;
    margin-left: auto;
}

.section-highlight {
    padding: .5rem 1rem;
    border-radius: .2rem;
    background: var(--alpha-secondary-color);
    color: var(--secondary-color);
}

.section-title {
    margin: 2rem 0;
    font-size: 4rem;

}

.section-info {
    line-height: 2rem;
    margin-bottom: 2rem;
}

section {
    position: relative;
    padding: 6rem 10vw;

}

.food-image-container {
    transform: scale(0.7);
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.8);
    background: var(--primary-color);
    border: .1rem solid var(--secondary-color);
}

.circle span {
    position: absolute;
    width: .75rem;
    height: .75rem;
    border-radius: 100%;
    background: var(--secondary-color);
    transform: translate(-50%, -50%);
}

.circle span:nth-child(1) {
    top: 0;
    left: 50%;

}

.circle span:nth-child(2) {
    top: 30%;
    left: 4%;

}

.circle span:nth-child(3) {
    top: 30%;
    right: 1.5%;

}

.circle span:nth-child(4) {
    bottom: 30%;
    left: 3%;

}

.circle span:nth-child(5) {
    bottom: 30%;
    right: .5%;

}

.circle span:nth-child(6) {
    bottom: -2.5%;
    left: 50%;

}

.circle:nth-child(2) {
    background: var(--alpha-secondary-color);
    z-index: -1;
    transform: translate(-50%, -50%) scale(1) rotate(30deg);

}

.food-img {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 1rem 1rem var(--shadow);
    width: 10rem;
    transform: translate(-50%, -50%);


}

.food-img:nth-child(1) {
    width: 20rem;
    top: 50%;
    left: 50%;
}

.food-img:nth-child(2) {
    width: 12rem;
    top: 15%;
    left: 100%;
}

.food-img:nth-child(3) {
    width: 10rem;
    top: 60%;
    left: 107%;
}

.food-img:nth-child(4) {
    width: 8rem;
    top: 95%;
    left: 80%;
}

.food-img:nth-child(5) {
    width: 6rem;
    top: 100%;
    left: 40%;
}

.food-img:nth-child(6) {
    width: 4rem;
    top: 80%;
    left: 10%;
}

.food-img:nth-child(7) {
    width: 2rem;
    top: 55%;
    left: 0%;
}


.restaurants-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.restaurant {
    position: relative;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    /* overflow: hidden; */
    border: .1rem solid var(--border-color);
}

.discount {
    position: absolute;
    color: var(--light-text-color);
    padding: .3rem .5rem;
    background: var(--discount-color);
    border-radius: .2rem;
    left: 0;
    top: 7.5%;
    Z-index: 2;
}

.restaurant-thumbnail {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    border-radius: .5rem;

}

.restaurants-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
    transition: transform .5s var(--transition-curve);
}

.restaurant:hover .restaurants-img {
    transform: scale(1.1);

}

.restaurant-body {
    margin: 2rem 0 1rem;
    position: relative;
}

.restaurant-name {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
    margin: 1rem 0;

}

.menu {
    width: 80%;
    opacity: .75;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 1rem 0;

}

.place {
    font-weight: 700;
    text-transform: capitalize;
}

.rating {
    position: absolute;
    right: 0;
    top: 0;
    padding: .4rem .6rem;
    background: var(--secondary-color);
    color: var(--light-text-color);
    font-size: .5rem;
    display: flex;
    gap: .5rem;
    border-radius: .2rem;

}

.restaurant:hover {
    background: var(--card-hover-bg-color);
}


/* about-section */
#about-section {
    padding-bottom: 0;
    display: flex;


}

#about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: var(--accent-color);
    z-index: -1;
}

.about {
    width: 30%;
    margin-left: auto;
    min-width: 250px;
}

.about-title {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--secondary-text-color);
}

.about-info {
    margin: 2rem 0 4rem;
    line-height: 2rem;


}





.service {
    background: var(--primary-color);
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem var(--box-shadow-color);

}

.service-title {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.service-img {
    width: 3rem;
    height: 3rem;
    border-radius: .2rem;
}

.service-name {
    font-weight: 400;
}

.service-detail {
    margin-top: 1rem;
    line-height: 1.5rem;
    opacity: .75;
}

.left-service-img {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.left-service-img img {
    height: 250px;
    width: 400px;
    border-radius: 50%;
    transition: .6s all ease;

}

.left-service-img img:hover {
    border-radius: 0px;
}

/* contact section */
#contact {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 140vh;
    background-image: linear-gradient(rgb(47 255 172 / 30%), rgba(0, 0, 0, 0.7)), url(https://www.momnewsdaily.com/app/uploads/2022/09/breakfast-in-a-bed-2022-02-08-22-39-25-utc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.contact-head {
    display: flex;
    justify-content: center;
}

.contact-head h1 {
    color: rgb(16, 17, 16);
    /* z-index: 999; */
    font-size: 60px;
    background-color: var(--secondary-text-color);
    border-radius: 30px;
}

.contact-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 60px;
}

.contact-center .one {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;

}

.one label {
    color: rgb(42, 6, 80);
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    background-color: var(--phone-app-shadow);
}

.one input {
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.contact-center .two {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;

}

.two label {
    color: rgb(42, 6, 80);
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    background-color: var(--phone-app-shadow);
}

.two input {
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.contact-center .three {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;


}

.three label {
    color: rgb(42, 6, 80);
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    background-color: var(--phone-app-shadow);
}

.three input {
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.c-btn {
    margin: 20px;
}